<section class="gradient-custom min-vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 px-md-5">
            <div class="d-flex justify-content-between align-items-center mb-3 pb-2">
              <h3 class=" pb-md-0 ">Historial</h3>
              <input data-mdb-ripple-init class="btn btn-warning btn-lg" type="button" value="Añadir Registro"
                (click)="goToForm()" />
            </div>

            <ul class="list-group">
              @for (item of data; track $index) {
              <li class="list-group-item" (click)="goToBillboard(item)">{{item?.lastName}} {{item?.firstName}}</li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>